@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Black.ttf) format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Noto Sans TC;
    src: url(../font/NotoSansTC-Black.otf) format('opentype');
    font-weight: 900;
}

@font-face {
    font-family: Noto Sans TC;
    src: url(../font/NotoSansTC-Bold.otf) format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: Noto Sans TC;
    src: url(../font/NotoSansTC-Regular.otf) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: Noto Sans TC;
    src: url(../font/NotoSansTC-Light.otf) format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: ChenYuluoyan;
    src: url(../font/ChenYuluoyan-Thin.ttf) format('truetype');
}

:root {
    --color-black: #0d0d0d;
    --color-white: #f8f8f8;
    --header-height: 70px;
    /* old */
    --color-gray-1: #ddd;
    --color-gray-2: #999;
    --color-orange: #f08300;
    --color-light-orange: #F5F2F0;
    --gradient-color-1: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(245, 242, 240, 1) 100%);
}

* {
    font-family: 'Roboto', 'Noto Sans TC', 'ChenYuluoyan', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: var(--color-black);
}

html,
body {
    background: var(--color-white);
}


/* root style */

.scroller {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroller .scroll {
    min-height: 100vh;
    scroll-snap-align: start;
    padding: 6rem 0;
}

.h1,
h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 0;
}

.h2,
h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
}

.h3,
h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}

.h4,
h4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0;
}

p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}

.cap {
    font-size: 0.875rem;
    font-weight: 300;
    margin-bottom: 0;
}

a {
    color: var(--color-black);
    text-decoration: none;
    transition: all ease 0.3s;
}

a:hover {
    color: inherit;
}

.motto {
    font-family: 'ChenYuluoyan';
    color: var(--color-white);
    background: linear-gradient(to right, var(--color-black) 50%, var(--color-white));
    padding: 2.5rem;
}

.highlight {
    position: relative;
}

.highlight:before {
    content: "";
    z-index: -1;
    left: 0;
    top: -0.1rem;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    position: absolute;
    border-right-color: transparent;
    width: 105%;
    height: 1.5rem;
    transform: rotate(2deg);
    opacity: 0.7;
    border-radius: 50%;
    padding: 0.1rem 0.5rem;
}

.highlight:after {
    content: "";
    z-index: -1;
    left: 0;
    top: 0.1rem;
    padding: 0.1rem 0.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    width: 105%;
    height: 1.5rem;
    transform: rotate(-1deg);
    opacity: 0.7;
    border-radius: 50%;
}

.img-frame {
    display: inline-block;
    overflow: hidden;
}

.img-frame img {
    transition: all 0.3s ease-in-out;
}

.img-frame img:hover {
    transform: scale(1.1);
}

img {
    width: 100%;
    max-width: fit-content;
}

.img-shadow {
    box-shadow: 0px 24px 24px -10px rgba(13, 13, 13, 0.2);
}

.text-justify {
    text-align: justify;
}

.text-orient-v {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 0.1rem;
    margin: auto;
}

.fc-white {
    color: var(--color-white) !important;
}

.btn-yu-primary {
    color: var(--color-white);
    background-color: var(--color-black);
    border-radius: 0;
    padding: 10px 20px;
    transition: all ease .3s;
}

.btn-yu-primary:hover,
.btn-yu-primary:focus {
    color: var(--color-white);
    background-color: rgba(13, 13, 13, 0.8);
}

.btn-yu-second {
    color: var(--color-black);
    background-color: var(--color-white);
    border: 1.5px solid var(--color-black);
    border-radius: 0;
    padding: 10px 20px;
    transition: all ease .3s;
}

.btn-yu-second:hover,
.btn-yu-second:focus {
    background-color: #dedede;
}

.btn-yu-third {
    color: var(--color-white);
    background-color: var(--color-black);
    border: 1.5px solid var(--color-white);
    border-radius: 0;
    padding: 10px 20px;
    transition: all ease .3s;
}

.btn-yu-third:hover,
.btn-yu-third:focus {
    color: var(--color-white);
    background-color: rgba(248, 248, 248, 0.1);
}

.btn-en {
    min-width: 133px;
}

.scrolldown {
    width: 2px;
    height: 60px;
    margin: 2rem 0 0;
    border-radius: 50px;
    overflow: hidden;
}

.scrolldown .line {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to bottom, rgba(13, 13, 13, 1) 50%, rgba(13, 13, 13, 0) 50%);
    background-position: 0 -60px;
    background-size: 100% 200%;
    animation: scrolldown 2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}

.scrolltop {
    position: absolute;
    bottom: 1.5rem;
    cursor: pointer;
    transition: all ease 0.3s;
}

.scrolltop:hover {
    transform: translateY(-10px);
}

.footer .scrolltop {
    position: relative;
    bottom: 0;
    cursor: pointer;
    transition: all ease 0.3s;
}

.footer .scrolltop:hover {
    transform: translateY(-10px);
}

.py-6 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.pt-6 {
    padding-top: 5rem;
}

.pb-8 {
    padding-bottom: 8rem;
}


/* bootstrap style */

.navbar-light .navbar-nav .nav-link {
    color: var(--color-black);
    transition: all ease .3s;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: var(--color-black);
    opacity: 0.6;
}

.navbar-light .navbar-toggler {
    background-color: var(--color-white);
    border: 1.5px solid var(--color-black);
    border-radius: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-light .navbar-toggler-icon {
    color: #000;
    background-image: none;
    transition: all 0.2s;
}

.custom-navbar-bg {
    background-color: transparent;
}

.custom-navbar-bg.open {
    background-color: var(--color-white);
}

.custom-navbar-bg .navbar-toggler-icon::before {
    content: "\f00d";
    font-family: FontAwesome;
}

.custom-navbar-bg .collapsed .navbar-toggler-icon::before {
    content: "\f0c9";
    font-family: FontAwesome;
}

.navbar-light.custom-navbar-white .navbar-nav .nav-link {
    color: var(--color-white);
}

.navbar-light.custom-navbar-white .btn-yu-primary {
    color: var(--color-black);
    background-color: var(--color-white);
}

.navbar-light.custom-navbar-white .btn-yu-primary:hover,
.navbar-light.custom-navbar-white .btn-yu-primary:focus {
    background-color: rgba(248, 248, 248, 0.8);
}

.navbar-light.custom-navbar-white .btn-yu-second {
    color: var(--color-white);
    background-color: var(--color-black);
    border: 1px solid var(--color-white);
}

.navbar-light.custom-navbar-white .btn-yu-second:hover,
.navbar-light.custom-navbar-white .btn-yu-second:focus {
    background-color: rgba(248, 248, 248, 0.1);
}


/* custom style */

.hand {
    transform: rotate(-5deg);
    -webkit-animation: hand-shake .6s linear infinite;
    animation: hand-shake .6s linear infinite;
}

.css-about {
    position: sticky;
    top: 96px;
    left: auto;
}

.counter {
    position: relative;
    font-weight: 700;
}

.counter::after {
    content: '+';
    font-weight: 300;
    font-size: 2rem;
    margin-left: 8px;
    position: absolute;
    top: 0;
}

.c-name {
    display: flex;
}

.c-name::after {
    border-bottom: 1px dashed var(--color-black);
    content: '';
    flex: 1;
    margin: 0 0 0.5rem 2rem;
}

.cp-project {
    padding-bottom: 2.5rem;
}

.cp-project:last-child {
    padding-bottom: 0;
}

.cp-tags span {
    display: inline-block;
    padding: 1px 10px 0px;
    border: 1px solid var(--color-black);
    border-radius: 50px;
    text-transform: uppercase;
    margin: 0 0.5rem 0.5rem 0;
}

#works {
    position: relative;
    overflow-x: hidden;
}

#works::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 120px;
    width: 100%;
    height: calc(100% - 100px);
    background: #fff;
}

#works>div {
    position: relative;
    z-index: 2;
}

.scroll-view {
    overflow-x: scroll;
    width: 100vw;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scroll-view::-webkit-scrollbar {
    display: none;
}

.scroll-content {
    display: flex;
    width: fit-content;
}

.works-indicator-track {
    position: relative;
    height: 1px;
    width: 120px;
    border-radius: 0;
    background: rgba(13, 13, 13, 0.5);
    margin: auto;
}

.works-indicator-thumb {
    position: absolute;
    top: -7px;
    width: 16px;
    height: 16px;
    background-color: var(--color-black);
    border: 1px solid var(--color-white);
    border-radius: 50px;
}

.works-content {
    display: flex;
    width: fit-content;
    margin: 0;
}

.work-item {
    list-style: none;
    width: 480px;
    padding: 2rem 3rem 2rem 0;
}

.work-item:last-child {
    padding-right: 0;
    width: calc(480px - 3rem);
}

#contact {
    background-image: url(../img/contact_bk.jpg);
    background-position: center;
    background-size: cover;
}

#contact a:hover {
    opacity: 0.8;
}

.copyright {
    position: absolute;
    bottom: 1.5rem;
}

.hero_bnr {
    min-height: 768px;
    padding-top: 140px;
}

.hero_bnr img {
    position: relative;
    z-index: 1;
    box-shadow: 0px 24px 24px -10px rgba(13, 13, 13, 0.2);
}

.open-browser {
    display: inline-block;
    position: absolute;
    bottom: 12px;
    margin-left: 1rem;
}

.open-browser img {
    box-shadow: none;
    width: 2.5rem;
    transition: all ease 0.3s;
}

.open-browser:hover img {
    transform: translate(8px, -8px);
}

.bk-white {
    position: relative;
    padding: 3.5rem 2rem 5rem;
}

.bk-white>* {
    position: relative;
    z-index: 1;
}

.bk-white::after {
    position: absolute;
    content: "";
    background-color: #fff;
    top: -1.5rem;
    bottom: 0;
    left: 12px;
    right: 12px;
}

.cap.cap-en {
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.sbm-bk {
    background: rgba(24, 8, 59, 1) url(../img/gogoro/sbm-bk.png);
    background-size: cover;
    background-position: center bottom;
}

.img-sbm-stations {
    width: auto !important;
}

.img-sbm-screens {
    width: auto !important;
}

.demo-video {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 280px;
    margin: auto;
}

.demo-video img {
    z-index: 2;
}

.demo-video video {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% - 75px);
}

.img-full-cover {
    background-image: url(../img/gogoro/home-revamp-screens.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 940px;
}

.footer {
    background: var(--color-black);
    padding: 2rem 0;
}

.fade-in {
    transform: translateY(50%);
    transition: all ease-in .3s;
}

.fade-in.appear {
    transform: translateY(0);
}

.fade-in-left {
    transform: translateX(-50%);
    transition: all ease-in .75s;
}

.fade-in-left.appear {
    transform: translateX(0);
}

.fade-in-right {
    transform: translateX(50%);
    transition: all ease-in .75s;
}

.fade-in-right.appear {
    transform: translateX(0);
}

.notes {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem;
    background: #fff;
    justify-content: center;
    transform-origin: center;
    transform: rotate(-3deg);
}

#competitors tr {
    border-bottom: 2px solid #f8f8f8;
}

#competitors tr th {
    padding: 1.2rem;
    background-color: #ECF3FF;
    border-radius: 5px;
    border-right: 2px solid #f8f8f8;
}

#competitors tr td {
    padding: 1.2rem;
    background-color: #fff;
    border-radius: 5px;
}


/* old */

#lp.marquee {
    width: 100%;
    height: 810px;
    overflow: hidden;
    background-color: #1D1D59;
    padding: 8rem 4rem;
}

#lion.marquee {
    width: 100%;
    height: 810px;
    overflow: hidden;
    background-color: #BF0426;
    padding: 8rem 4rem;
}

#lp .marquee-item {
    width: fit-content;
    margin: auto;
    box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.2);
}

#lion .marquee-item {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.2);
}

#lion .marquee-item.appear,
#lp .marquee-item.appear {
    animation: scrolling-v 28s linear infinite;
    animation-delay: 1s;
}

.bobby-bk {
    background: url(../img/lion/bobby-mountain-bg.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}

.makephoto-cover-bg {
    background-image: url(../img/egroup/makephoto-bg.jpg);
    background-position: top 90px center;
    background-size: cover;
    background-repeat: no-repeat;
}

.makephoto-bg {
    background-color: #F2F4F8;
}

#makephoto.marquee {
    width: 100%;
    overflow: hidden;
}

#makephoto .marquee-content {
    display: flex;
    animation: scrolling-h 40s linear infinite;
}

#makephoto .marquee-item {
    flex: 0 0 16vw;
    margin: 0 1vw;
}

#makephoto .marquee-item img {
    display: block;
    min-width: 480px;
    width: 100%;
    height: auto;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .px-md-6 {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
}

@media screen and (max-width: 768px) {
    h1,
    .h1 {
        font-size: 2.5rem;
        line-height: 1.2;
    }
    h2,
    .h2 {
        font-size: 2rem;
    }
    h3,
    .h3 {
        font-size: 1.5rem;
    }
    h4,
    .h4 {
        font-size: 1.25rem;
    }
    p {
        font-size: 1rem;
    }
    .py-6 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .pt-6 {
        padding-top: 3rem;
    }
    .pb-8 {
        padding-bottom: 6rem;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 0.75rem 0;
        text-align: center;
    }
    .custom-navbar-bg.open {
        background-color: #fff !important;
        border-bottom: 1px solid var(--color-gray-1);
        padding-bottom: 1.5rem;
        box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
    }
    .open-browser {
        bottom: 8px;
    }
    .open-browser img {
        width: 1.5rem;
    }
    .hand {
        width: 44px;
    }
    .motto {
        padding: 1.5rem;
    }
    .counter {
        font-size: 2.5rem;
    }
    .cp-project {
        padding-bottom: 2rem;
    }
    .c-name::after {
        display: none;
    }
    #works::after {
        top: 80px;
        left: 56px;
        width: 100%;
        height: calc(100% - 80px);
        background: #fff;
    }
    .work-item {
        width: 300px;
        padding: 2rem 2rem 2rem 0;
    }
    .work-item:last-child {
        width: calc(300px - 2rem);
    }
    #contact {
        background-image: url(../img/contact_bk-m.jpg);
        background-position: bottom center;
        background-size: cover;
    }
    .hero_bnr {
        min-height: 640px;
        padding-top: 120px;
    }
    .bk-white {
        padding: 3.5rem 2.5rem 4rem;
    }
    .bk-white::after {
        left: -8px;
        right: -8px;
    }
    .fade-in-left {
        transform: translateX(-10%);
    }
    .fade-in-right {
        transform: translateX(10%);
    }
    .img-sbm-stations {
        width: 1290px !important;
    }
    .img-sbm-screens {
        width: 1080px !important;
    }
    .img-full-cover {
        height: 400px;
    }
    #lion.marquee,
    #lp.marquee {
        height: 400px;
        padding: 2rem 1rem 0;
    }
    #makephoto .marquee-item img {
        min-width: 360px;
    }
}

@keyframes hand-shake {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

@keyframes scrolldown {
    0% {
        background-position: 0 -60px;
    }
    75% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 60px;
    }
}

@keyframes scrolling-v {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes scrolling-h {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translatex(-3904px);
    }
}